#sketch {
	outline: 0px;
	width: 100%;
	height:200px;
}
.profile-picture {
	border-radius:30px;
  }

  .column-img{
	display: hidden;
	max-width:100%;
   }

.social-link *:before{
	font-size:64px;

}
.social-item{
	padding:50px
}