
.scrollable-card {
	max-height: 550px;
	overflow-y: auto;
	overflow-x:hidden;
}

#sketch {
	outline: 0px;
	width: 100%;
	height:400px;
}
   
#name {
	font-size:25px;
	
	padding-left:20px;
	height:40px;
}
#medium {
	font-style: italic;
	font-size:20px;
	padding-left:25px;
	height:20px;


}
#description {
	display:table-cell;
	vertical-align:middle;
	font-size:20px;
	padding:25px;
	height:100%;
}

  .selected-option {
	background-color: white;
	padding: 10px;
	cursor: pointer;
  }
  
  .dropdown-options {
	display: none;


	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .dropdown-options li {
	padding: 10px;
	cursor: pointer;
  }
  
  .dropdown-options li:hover {
	background-color: var(--primary);
	color:white;
  }
  
  .show-dropdown {
	display: block;
  }



