
.scrollable-card {
	pointer-events: all;
	max-height: 500px;
	overflow-y: auto;
	overflow-x:hidden;
}
.scrollable-card-intrests {
	pointer-events: all;
	max-height: 205px;
	overflow-y: auto;
	overflow-x:hidden;
}
.profile-picture {
	align-self:center;
	padding-left:10vw;
    width: 100%; 
	border-radius: 50% 10% 10% 50%; 

}
body{
    pointer-events: none; 
	user-select: none;
}
.pdf-download:hover{
	background-color:white!important;
	color:var(--primary)!important;
	
}
.profile-pic-column{
	flex: 1;
	max-width:100%;
}
.header-content .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
canvas, .social-link, .btn, .nav-link{
	pointer-events: all;
}
#sketch {
	outline: 0px;
	width: 100%;
	height:400px;
}
   
#medium {
	font-style: italic;

}

.icon-row {
	padding-bottom:10px;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.icon {
    width: 48px; 
    height: 48px;
}
.column-img{
 max-width:100%;
}

.tab-content { display: none; }
.tab-content.active { display:contents; }

  .selected-option {
	pointer-events: all;
	padding: 10px;
	cursor: pointer;
  }
  .selected-option:hover{
	background-color: var(--primary)!important;
	color:white;
  }
  
  .dropdown-options {
	display: none;
	width: 100%;
	list-style: none;
	padding: 0;
  }
  
  .dropdown-options li {
	padding:10px;
	padding-left: 25px;
	cursor: pointer;
	pointer-events: all;
  }
  
  .dropdown-options li:hover {
	background-color: var(--primary);
	color:white;
  }
  
  .show-dropdown {
	display: block;
  }



