.ti-heyjinn:before {
    content: "";
    display: inline-block;
    background: url(../Assets/icon/heyjinn.svg) no-repeat center;
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-size: contain;
	
}
.scrollable-card {
	pointer-events: all;
	max-height: 490px;
	overflow-y: auto;
	overflow-x:hidden;
}
.scrollable-card-intrests {
	pointer-events: all;
	max-height: 195px;
	overflow-y: auto;
	overflow-x:hidden;
}
.profile-picture {
	align-self:center;
	padding-left:10vw;
    width: 100%; 
	border-radius: 50% 10% 10% 50%; 

}
body{
    pointer-events: none; 
	user-select: none;
}
.pdf-download:hover{
	background-color:white!important;
	color:var(--primary)!important;
	
}
.profile-pic-column{
	flex: 1;
	max-width:100%;
}
.header-content .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
canvas, .social-link, .btn, .nav-link, .case-study-card, .navbar-toggler-icon, a{
	pointer-events: all;
}
#sketch {
	outline: 0px;
	width: 100%;
	height:400px;
}
   
#medium {
	font-style: italic;

}

.icon-row {
	padding-bottom:10px;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

  


 
.icon {
    width: 48px; 
    height: 48px;
}


a:hover .icon {
opacity: 0.6; /* Add rotation for a dynamic effect */
}

.heyjinn-link{
	padding:10px;
	border-radius:5px;
	border: 1px solid #ffffff00; /* Add rotation for a dynamic effect */
}

.heyjinn-link:hover  {
	border: 1px solid var(--primary); /* Add rotation for a dynamic effect */
}
.column-img{
 max-width:100%;
}

.case-study-card .card {
	transition: box-shadow 0.3s ease; /* Smooth transition */
}

.case-study-card:hover .card {
	box-shadow: 0px 0px 2px var(--primary); /* Shadow on hover */
}
  .selected-option {
	pointer-events: all;
	padding: 10px;
	cursor: pointer;
  }
  .selected-option:hover{
	background-color: var(--primary)!important;
	color:white;
  }
  
  .dropdown-options {
	display: none;
	width: 100%;
	list-style: none;
	padding: 0;
  }
  
  .dropdown-options li {
	padding:10px;
	padding-left: 25px;
	cursor: pointer;
	pointer-events: all;
  }
  
  .dropdown-options li:hover {
	background-color: var(--primary);
	color:white;
  }
  
  .show-dropdown {
	display: block;
  }



